body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
  text-align: center;
}

h1 {
  padding: 1rem;
  background-color: #ffe082;
  margin: 0;
  font-size: 2rem;
  color: #333;
}

#map {
  height: 90vh;
  width: 100%;
}
